<!--Listing page used whenever a user clicks on a listing for further detail.-->
<%include partials/openheader.ejs%>
<link rel="stylesheet" type="text/css" href="/css/listing-area-common.css">
<link rel="stylesheet" type="text/css" href="/css/listing-page.css">
<%include partials/closeheader.ejs%>

<%include partials/navbarTemplate.ejs%>

<div class="container">
    <div class="col-xs-12">
        <h1 id="community-header"><%=listData['address']%></h1>
    </div>
</div>

<hr>

<div id="wrapper">
    <section id="request-panel" class="panel panel-default custom-panel-background">
        <div class="panel-heading custom-panel-heading">
            <h3 class="panel-heading"><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>Have A Question?
            </h3>
        </div>
        <div class="panel-body">

            <form class="form-inline">

                <div class="form-group req-panel-spacing">
                    <label for="req-panel-first-name">First Name</label>
                    <input type="text" class="form-control" id="req-panel-first-name" placeholder="Johnny">
                </div>

                <div class="form-group req-panel-spacing">
                    <label for="req-panel-last-name">Last Name</label>
                    <input type="text" class="form-control" id="req-panel-last-name" placeholder="Appleseed">
                </div>

                <div class="form-group req-panel-spacing">
                    <label for="req-panel-phone">Phone</label>
                    <input type="text" class="form-control" id="req-panel-phone" placeholder="(555) 555-5555">
                </div>

                <div class="form-group req-panel-spacing">
                    <label for="req-panel-last-name">Email</label>
                    <input type="email" class="form-control" id="req-panel-email" placeholder="john@example.com">
                </div>

            </form>

            <textarea class="form-control req-panel-spacing" rows="5"
                      placeholder="Leave a question or comment here..."></textarea>

            <button type="button" class="btn btn-default custom-submit-btn">Submit</button>

        </div>
    </section>

    <div class="community-image-container">

        <% if (listData['photos'][0].substring(0, 3).match('http')) { %>
        <!--Need to figure out what to do if the first string is http-->
            <img class="community-image img-drop-shadow" src="<%=listData['photos'][0]%>">

        <% } else { %>

            <img class="community-image img-drop-shadow" src="http://www.realcove.net/<%=listData['photos'][0]%>">
        <% } %>

        <div class="row">

            <div id="listing-info-chart">
                <!--put variables in each div for information-->
                <div class="thumbnail-container">
                    <ul class="thumbnail-list">

                        <% for (var i = 0; i < listData['photos'].length; i++) { %>
                            <li>
                                <span><img class="thumbnail-image" src="http://www.realcove.net/<%=listData['photos'][i]%>"></span>
                            </li>
                        <% } %>
                    </ul>
                </div>

                <div class="col-xs-12">
                    <p class="public-remarks">
                        <%=listData['publicremarks']%>
                    </p>
                </div>

                <div class="col-xs-4">
                    <hr>
                    <p>$<%=listData['price']%></p>
                </div>

                <div class="col-xs-4">
                    <hr>
                    <p><%=listData['beds']%> Beds</p>
                </div>

                <div class="col-xs-4">
                    <hr>
                    <p><%=listData['baths']%> Baths</p>
                </div>

                <div class="col-xs-4">
                    <hr>
                    <p>MLS#: <%=listData['mls_num']%></p>
                </div>

                <div class="col-xs-4">
                    <hr>
                    <p><%=listData['square_feet']%> Sqft</p>
                </div>

                <div class="col-xs-4">
                    <hr>
                    <p>DOM: <%=listData['days_on_market']%></p>
                </div>

                <div class="col-xs-4">
                    <hr>
                    <p><%=listData['property_type']%></p>
                </div>

                <div class="col-xs-4">
                    <hr>
                    <p><%=listData['status']%></p>
                </div>

                <div class="col-xs-4">
                    <hr>
                    <p><%=listData['subdivision']%></p>
                </div>
            </div>
        </div>

    </div>

    <div id="google-map">
        <!--Extract script into js file-->
        <script>
            function myMap() {
                var latitude  = parseFloat(listData['latitude']),
                    longitude = parseFloat(listData['longitude']);

                var mapProp= {
                    center: new google.maps.LatLng(latitude , longitude),
                    zoom:14
                };
                var map=new google.maps.Map(document.getElementById("google-map"),mapProp);
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgH_dYa-nHJ2y4Z4Ez7utaD65JUKTrKa8&callback=myMap"></script>
    </div>
</div>

<%include partials/filter-suggest.ejs%>

<%include partials/listingGridTemplate.ejs%>

<%include partials/footer.ejs%>