<div class="row grid-list"><!-- Begin First Row-->
    <div class="container">

        <h1 id="featured-listings">Featured Listings</h1> <!--Need to get rid of this-->

        <% mlsData.forEach(function(listing) { %>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div id= "<%= listing['mls_num']%>">

                    <!--<p class="status-label">
                                <span class="label label-for-sale">
                                    <%= listing['status'] %>
                                </span>
                    </p>-->

                    <% var listingImage = listing['photos'].split(",");%>
                    <% if (!listingImage[0]) { %>
                        <div class="thumbnail photo-card">

                            <p class="status-label">
                                <%if (listing['status'].match('Active')) { %>

                                    <span class="label label-for-sale">
                                        <%= listing['status'] %>
                                    </span>
                                <% } else {%>

                                    <span class="label label-pending">
                                        <%= listing['status'] %>
                                    </span>
                                <% } %>
                            </p>

                            <img class="img-responsive" src="https://source.unsplash.com/wtrAchtpc-w">

                            <p class="no-image-header">No Images <i class="fa fa-frown-o" aria-hidden="true"></i></p>

                            <section class="photo-card-info-spec-row1">
                                <span class="photo-card-price">
                                $<%= listing['price'].replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                            </span>
                                <span class="photo-card-info">

                                    <% if (listing['property_type'].match('Land')) { %>

                                        <%= listing['property_type'] %>
                                        <span class="photo-card-punct">|</span>
                                        <%= listing['acres']%> acres

                                    <% } else {%>

                                        <%= listing['beds'] %> bd
                                            <span class="photo-card-punct">|</span>
                                        <%= listing['baths']%> ba
                                            <span class="photo-card-punct">|</span>
                                        <%= listing['square_feet'].replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> sqft
                                    <% } %>

                            </span>
                            </section>

                            <section class="photo-card-info-spec-row2">

                                <span class="photo-card-dom">

                                    <span class="dom">dom:</span>

                                    <%= listing['days_on_market']%>
                                </span>

                                <span class="photo-card-punct">|</span>

                                <span class="photo-card-address">

                                    <%= listing['address']%>,
                                    <%= listing['city']%>,
                                    <%= listing['state']%>
                                </span>
                            </section>
                        </div>
                    <% } else { %>
                        <div class="thumbnail photo-card">

                            <p class="status-label">
                                <%if (listing['status'].match('Active')) { %>

                                    <span class="label label-for-sale">
                                        <%= listing['status'] %>
                                    </span>
                                <% } else {%>

                                    <span class="label label-pending">
                                        <%= listing['status'] %>
                                    </span>
                                <% } %>
                            </p>

                            <img class="img-responsive img-drop-shadow" src="http://www.realcove.net/<%= listingImage[0]%>">

                            <section class="photo-card-info-spec-row1">
                                <span class="photo-card-price">
                                $<%= listing['price'].replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                            </span>
                                <span class="photo-card-info">

                                    <% if (listing['property_type'].match('Land')) { %>


                                    <%= listing['property_type']%>
                                    <span class="photo-card-punct">|</span>
                                    <%= listing['acres']%> acres

                                    <% } else {%>

                                    <%= listing['beds'] %> bd
                                            <span class="photo-card-punct">|</span>
                                    <%= listing['baths']%> ba
                                            <span class="photo-card-punct">|</span>
                                    <%= listing['square_feet'].replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> sqft
                                    <% } %>

                                 <!--<%= listing['beds'] %> bd
                                        <span class="photo-card-punct">|</span>
                                    <%= listing['baths']%> ba
                                        <span class="photo-card-punct">|</span>
                                    <%= listing['square_feet'].replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> sqft-->
                            </span>
                            </section>

                            <section class="photo-card-info-spec-row2">

                                <span class="photo-card-dom">

                                    <span class="dom">dom:</span>

                                    <%= listing['days_on_market']%>
                                </span>

                                <span class="photo-card-punct">|</span>

                                <span class="photo-card-address">

                                    <%= listing['address']%>,
                                    <%= listing['city']%>,
                                    <%= listing['state']%>
                                </span>
                            </section>
                        </div>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div> <!--End of Container-->
</div><!-- End Fourth Row-->