<div class="row grid-list"><!-- Begin First Row-->
    <div class="container">

        <h1 id="featured-listings">Featured Listings</h1> <!--Need to get rid of this-->

        <% mlsData.forEach(function(listing) { %>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div id= "<%= listing['mls_num']%>" class="photo-card">

                    <p class="status-label">
                                <span class="label label-for-sale">
                                    <%= listing['status'] %>
                                </span>
                    </p>

                    <% var listingImage = listing['photos'].split(",");%>
                    <% if (!listingImage[0]) { %>
                        <img class="img-responsive img-drop-shadow" src="https://source.unsplash.com/118HMzX-i_8">
                        <p class="no-image-header">No Images</p>

                    <% } else { %>
                        <img class="img-responsive img-drop-shadow" src="http://www.realcove.net/<%= listingImage[0]%>">
                    <% } %>

                    <p class="photo-card-info-spec-row1">

                                    <span class="photo-card-price">
                                        <%= listing['price'] %>
                                    </span>

                        <span class="photo-card-info">
                                        <%= listing['beds'] %> bd
                                        <span class="photo-card-punct">|</span>
                                        <%= listing['baths']%> ba
                                        <span class="photo-card-punct">|</span>
                                        <%= listing['square_feet']%> sqft
                                    </span>
                    </p>

                    <p class="photo-card-info-spec-row2">

                                    <span class="photo-card-dom">
                                        <span class="dom">dom:</span>
                                        <%= listing['days_on_market']%>
                                    </span>

                        <span class="photo-card-punct">|</span>

                        <span class="photo-card-address">

                            <%= listing['address']%>,
                            <%= listing['city']%>,
                            <%= listing['state']%>

                        </span>
                    </p>
                </div>
            </div>
        <% }) %>
    </div> <!--End of Container-->
</div><!-- End Fourth Row-->